@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@layer base {
    :root {
      --color-bkg:210deg 40% 98%;
      --color-content: 217deg 32.6% 17.5%;
    }
    @media (prefers-color-scheme:dark) {
    :root {
        --color-bkg:217deg 32.6% 17.5%;
        --color-content: 217deg 32.6% 17.5%;
        }
    
    }
    :root[data-theme="dark"]{
        --color-bkg:217deg 32.6% 17.5%;
        --color-content: 210deg 40% 98%;
        /* --color-accent1: 288deg 95.8% 90.6%;
        --color-accent2:168deg 83.8% 78.2%;        */
    }
  }

  body {
    font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  